p {
	color: darkblue;
	font-family: "Lobster", cursive;
	font-size: 18px;
	line-height: 22px;
	background-color: rgb(250, 241, 221, 0.5);
	width: 700px;
	padding: 12px
}

ol {
	color: rgb(39, 203, 189);
	font-family: "Lobster", cursive;
	font-size: 14px;
	background-color: rgb(250, 241, 221, 0.5); 
	padding-block: 12px;
	line-height: 22px;
	width: 700px;
}

ul {
	color: rgb(39, 203, 189);
	font-family: "Lobster", cursive;
	font-size: 14px;
	background-color: rgb(250, 241, 221, 0.5); 
	padding-block: 12px;
	line-height: 22px;
	width: 700px;
} 

h2 {
	color: white;
	background-color: rgb(160,160,160, 0.5);
	width: 800px;
	padding: 12px;
	line-height: 22px;
}
a:link {
		color: green;
		background-color: white;
		width: 2px;
		padding: 2px;
		line-height: 2px;
}
a:visited {
	color:orange;
}
a:hover {
	color: white;
	background-color: black;
}
a:active {
	color: black;
	background-color: white;
}
span {
	color: rgb(196, 143, 143);
}
h3 {
	color: black;
	background-color: rgb(160,160,160, 0.2);
	padding: 12px;
	line-height: 22px;
	width: 800px;
}
body {
	background-image: url("C:/Users/Antonija/Desktop/DM10/pozadina.jpg");
	margin: 45px;
}
